body{
  background-color: pink;
  width: 888px;
  margin: auto;
  font-family: sans-serif;
}

p{
  font-family: sans-serif;
  font-size: 20px;
}

h1{
  text-align: center;
  border: 2px white;
  background-color: yellow;
  color: darkblue;
}
h2{
  text-align: center;
  border: 2px white;
  background-color: lightblue;
  color: purple;
}
