body{
  background-color:pink;
  width: 888px;
  margin: auto;
  font-family: sans-serif;
}

p{
  font-family: sans-serif;
  font-size: 20px
}
h1{
  text-align: center;
  border: 2px purple;
  background-color: blue
}
