body{
  background-color:#facde4;
  margin:0;
  font-size: 30px;
  font-family:arial;

}

#selector {
    width:80%;
    height:80%;
    position:fixed;
}

.centre-header {
  position: fixed;
  left:50%;
  top:50%;
  margin-left:-200px;
  margin-top:-25px;
  width:400px;
  height:50px;
  font-size:40px;
  text-align:center;
  color:#00FF0066;
}

.main{
  width: 80%;
  margin-left: 30px;
}

.documents-container {
  position: fixed;
  height: 100vh;
  width:18%;
  border-left:5px solid red;
  right: 0px;
  top:0px;
  overflow: scroll;

}

.documents-container  img {
  width: 100%;
}

.documents-container p {
  font-size: 12px;
}



.nav {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 2;
  cursor:pointer;
}

.panel{
  height: 100vh;
  width: 141px;
  overflow: hidden;
  overflow-y: scroll;
  padding-top: 12px;
  padding-right:8px;
  padding-bottom:12px;
  padding-left:8px;
}



.text{
  position: fixed;
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 14px;
  margin-left: 0px;
}

.right{
  width: 120px;
  background-color: lightpink;
  height: 1000px;
  position: fixed;
  right:0;
  top:0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.document.showme {
  right: 0;
  transition: all 2s;
}

.main {
  transition: all 2s;
  margin-top: -0px;
}

.main.moveleft {
  margin-top: -40vw;
  transition: all 2s;
}

.backtotop {
  position: fixed;
  bottom: 0px;
  left: 0px;
}

p{
  font-family: sans-serif;
  font-size: 60px;
}

.issue-intro{
  width: 50px;
  height: 100vh;
  margin-left: auto;
  color: #FF0066;
  margin-right: 100px;
  margin-bottom: 100px;
  position: fixed;
  margin: 5px auto;
  border-right: 5px solid red;
  z-index: 2;
  top: -4px;
}

.issue-intro h4{
  color: #18927e;
  height: 59px;
  padding-top: 1.5rem;
  position: absolute;
  bottom: 100%;
  width: 100vh;
  transform-origin: left bottom;
  transform: rotate(90deg);
  text-align: left;
  padding-left: .75em;
  z-index: 2;
}

.issue-intro h5 a{
  color: #18927e;
  text-decoration: none;
  height: 59px;
  padding-top: 1.5rem;
  position: absolute;
  bottom: 100%;
  width: 100vh;
  transform-origin: left bottom;
  transform: rotate(90deg);
  text-align: center;
  z-index: 2;
}

.issue-intro h6{
  color: #18927e;
  height: 59px;
  padding-top: 1.5rem;
  position: absolute;
  bottom: 100%;
  width: 100vh;
  transform-origin: left bottom;
  transform: rotate(90deg);
  padding-right: .75em;
  text-align: right;
}








h1{
  text-align:left;
  border: 2px white;
  list-style-position: outside;
  font-size: 13vw;
  font-weight: 800;
  text-transform: uppercase;
  padding-bottom: 10px;
  color:rgba(191,0,254,1);
  font-style: bold;
}

.essay-meme h1 {

}

.essay-fitback h1 {

}

.essay-design h1 {

}

.rollover{
  color: red;
  font-weight: bold;
  font-size: 35px;
}

.rollover:hover{
  color:rgba(191,0,254,1);
}

.essay-fitback .rollover {
  color:blue;
}

.blur {
  position: fixed;
  opacity: 0;
  filter: blur(20px);
  transition: all 2s;
  pointer-events: none;
}

.blur.showme {
  opacity: 1;
  transition: all 2s;
  filter: blur(0px);
}

.rotate{
  position:fixed;
  visibility: hidden;
  transform: scale(0) rotate(0deg);
  transition: all 2s;
  pointer-events: none;
  top:0;
  left:-50vw;
}

.rotate.showme{
  transform: scale(1) rotate(360deg);
  display:block;
  transition: all 2s;
  visibility: visible;
  top: 0px;
  left: 50vw;
}

h2{
  text-align:center;
  font-size: 55px;
}
h3{
  font-family: sans-serif;
  font-size: 50px;
  color: white;
  text-align: center;
}

.col1of2 p {
  font-size:20px;
  margin: 1.333em;
  line-height: 1.333em;
}

blockquote{
  font-size: 20px;
  margin: 1.333em;
  line-height: 1.333em;
  width: 85%;
  margin-bottom: 1em;
  text-align: center;
}
