

.pop {
  width:200px;
  height:200px;
  position: fixed;
  visibility: hidden;
}

.pop img {
  width:100%;
}

.p-show {
  visibility: visible;
}

.p-richard {
  top: 20px;
  right: 100px;
}
.p-selfish{
  top:40px;
  right: 550px;
}

.p-species{
  top:100px;
  right: 950px;
}

.p-DNA{
  top: 30px;
  right:750px;
}

.p-meme{
  top: 70px;
  right: 590px;
  width: 40%;
}

.p-shortleg{
  top: 30px;
  right:450px;
}

.p-gene{
  top:40px;
  right: 600px;
}
.p-zebras{
  top:40px;
  right: 550px;
}
.p-lion{
  top:20px;
  right: 10px;
  width: 100%;
}

.p-slowly{
  top:20px;
  right: 10px;
  width: 80%;
}

.p-soccer{
  top: 70px;
  left: 590px;
  width: 40%;
}

.p-code{
  top: 50px;
  right:10px;
  width: 50%
}

.p-zebra{
  top: 10px;
  right:10px;
  width: 50%;
}

.p-genes{
  top: 70px;
  left: 590px;
  width: 40%;
}
.p-language{
  top: 70px;
  right: 580px;
  width: 50%;
}
.p-fashion{
  top: 10px;
  left:250px;
  width: 30%;
}
.p-religion{
  top: 10px;
  right:10px;
  width: 30%;
}

.p-sport{
  top: 70px;
  right: 680px;
  width: 30%;
}
.p-knowyourmeme{
  top: 70px;
  right: 680px;
  width: 30%;
}
.p-memes{
  top: 100px;
  left:250px;
  width: 30%;
}
.p-internet{
  top: 70px;
  right: 680px;
  width: 30%;
}
.p-cat{
  top: 10px;
  left:50px;
  width: 50%;
}
.p-cats{
  top: 10px;
  left:50px;
  width: 50%;
}
.p-photo{
  top: 10px;
  left:50px;
  width: 20%;
}
.p-dawkins{
  top: 10px;
  left:50px;
  width: 50%;
}
.p-copy{
  top: 50px;
  left:500px;
  width: 20%;
}
.p-contemporary{
  top: 300px;
  left:580px;
  width: 50%;
}
.p-networks{
  top: 300px;
  left:580px;
  width: 40%;
}
.p-sign{
  top: 300px;
  left:580px;
  width: 40%;
}
.p-culture{
  top: 300px;
  left:580px;
  width: 40%;
}
.p-read{
  top: 300px;
  left:580px;
  width: 40%;
}
.p-Eco{
  top: 300px;
  left:580px;
  width: 40%;
}
.p-reader{
  top: 70px;
  right: 720px;
  width: 40%;
}
.p-author{
  top: 70px;
  right: 720px;
  width: 40%;
}
.p-pa{
  top: 70px;
  right: 720px;
  width: 40%;
}
.p-master{
  top: 70px;
  right: 720px;
  width: 40%;
}
.p-Brad{
  top: 70px;
  right: 720px;
  width: 40%;
}
.p-online{
  top: 70px;
  right: 720px;
  width: 40%;
}
.p-aesthlete{
  top: 150px;
  right: 720px;
  width: 40%;
}
.p-visual{
  top: 300px;
  left:580px;
  width: 40%;
}
.p-experience{
  top: 300px;
  left:580px;
  width: 40%;
}
.p-codes{
  top: 300px;
  left:580px;
  width: 40%;
}
.p-blog{
  top: 300px;
  left:550px;
  width: 60%;
}
.p-web{
  top: 300px;
  right: 720px;
  width: 40%;
}
.p-user{
  top: 300px;
  right: 720px;
  width: 40%;
}
.p-back{
  top: 10px;
  right: 720px;
  width: 40%;
}
.p-boris{
  top: 40px;
  right: 720px;
  width: 40%;
}
.p-self{
  top: 40px;
  right: 720px;
  width: 40%;
}

.p-value{
  top: 40px;
  right: 450px;
  width: 70%;
}

.p-attitude{
  top: 40px;
  right: 680px;
  width: 50%;
}

.p-program{
  top: 40px;
  right: 620px;
  width: 50%;
}

.p-ideology{
  top: 40px;
  right: 600px;
  width: 50%;
}

.p-brand{
  top: 40px;
  right: 590px;
  width: 50%;
}
