

.pop {
  width:200px;
  height:200px;
  position: fixed;
  visibility: hidden;
}

.pop img {
  width:100%;
}

.p-show {
  visibility: visible;
}

.p-richard {
  top: 20px;
  right: 100px;
}
.p-selfish{
  top:40px;
  right: 550px;
}

.p-species{
  top:100px;
  right: 950px;
}

.p-DNA{
  top: 30px;
  right:750px;
}

.p-meme{
  top: 30px;
  right:750px;
  width: 30%;
}

.p-shortleg{
  top: 30px;
  right:450px;
}

.p-gene{
  top:40px;
  right: 600px;
}
.p-zebras{
  top:40px;
  right: 550px;
}
.p-lion{
  top:20px;
  right: 10px;
  width: 100%;
}

.p-slowly{
  top:20px;
  right: 10px;
  width: 80%;
}

.p-soccer{
  top:20px;
  right: 10px;
  width: 80%;
}

.p-code{
  top: 50px;
  right:10px;
  width: 50%
}

.p-zebra{
  top: 10px;
  right:10px;
  width: 50%;
}

.p-genes{
  top: 10px;
  right:10px;
}
.p-language{
  top: 10px;
  right:10px;
  width: 70%;
}
.p-fashion{
  top: 10px;
  left:250px;
  width: 30%;
}
.p-religion{
  top: 10px;
  right:10px;
  width: 30%;
}

.p-sport{
  top: 10px;
  left:10px;
  width: 50;
}
.p-knowyourmeme{
  top: 10px;
  left:10px;
  width: 50%;
}
.p-memes{
  top: 100px;
  left:250px;
  width: 30%;
}
.p-internet{
  top: 100px;
  left:250px;
}
.p-cat{
  top: 10px;
  left:50px;
  width: 50%;
}
.p-cats{
  top: 10px;
  left:50px;
  width: 50%;
}
.p-photo{
  top: 10px;
  left:50px;
  width: 20%;
}
.p-dawkins{
  top: 10px;
  left:50px;
  width: 50%;
}
.p-copy{
  top: 50px;
  left:500px;
  width: 20%;
}
