body{
  background-color: lightpink;
  font-size: 20px;
  width: 888px;
  margin: auto;
  font-family: sans-serif;
}


h1{
  font-size: 40px;
  color: darkblue;
  font-family: sans-serif;
  text-align: center;
  text-shadow: 1px 1px 1px #000,
               3px 3px 5px yellow;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
p{
  font-family: sans-serif;
  font-size: 18px;
  text-align: center;
}
